html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body{
font-family: 'Merriweather', serif;
}

h1 {
	color: white;
	background-color:#cd5b34;
	text-align: center;
}

h2{
	color:white;
}

header {
	background-color: #cd5b34;
	margin: 0em;
	padding-top: 1em;
}

figcaption {
	background-color:#d98156;
}

footer{
	background-color:#cd5b34;
	color: #dda999;
}

div {
	background-color:#d98156
}

.oats{
	color:white;
}

.corn{
	color:white;
}

.rice{
	color:white;
}


ol{
	list-style-type:none;
	padding:0em;
	text-align: center;
	overflow: hidden;
	list-style-type: none;
}

ol a {
	color: white;
	text-decoration: none;

}

ol li{
	border: 2px solid #a93f35;
	padding: 0.6em 1em ;
	display: block;
	float: left;
	width: 33.33333333%;
}

ol li:hover {
	background-color: #a93f35;
